<html>
    <head>
        <title>About Us</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav class="navbar" style="background-image:url('img/bgimage.jpg');">
            <ul class="nav-list">
                <div class="logo"><img src="img/logo.jpg" alt="Logo"></div>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html" target="_blank">Product</a></li>
                <li><a href="about.html" target="_blank">About</a></li>
                <li><a href="services.html" target="_blank">Services</a></li>
                <li><a href="contact.html" target="_blank">Contact Us</a></li>
            </ul>
            <div class="rightnav v-class-resp">
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">Search</button>
            </div>
        </nav>
    
    <section class="secRight">
        <div class="paras">
        <p class="sectionTag text-big">Organic Vegetables</p>
        <p class="sectionsubTag text-small">Organic produce are fruits and vegetables that are grown 
            without the use of pesticides, synthetic fertilizers, sewage sludge, genetically modified 
            organisms, or ionizing radiation. In the United States, the USDA (United States Department
            of Agriculture) issues a USDA Organic seal, which assures consumers of the quality and integrity
            of organic products. 
            </div>
        <div class="thumbnail">
            <img src="img/organic.jpg" alt="Oragnic Vegies" class="imgFluid">
        </div>
    </section>
    <hr>
    <section class="secLeft">
        <div class="paras">
        <p class="sectionTag text-big">Fresh Fruits</p>
        <p class="sectionsubTag text-small">Most fresh fruits and vegetables are picked before they are ripe. 
            This allows them time to fully ripen during transportation.
            It also gives them less time to develop a full range of vitamins, minerals and natural antioxidants.
            However, the USDA states that some produce, such as 
            apples and pears, can be stored for up to 12 months under controlled conditions before being sold.
            </p>
    </div>
        <div class="thumbnail">
            <img src="img/fruit.jpg" alt="Image" class="imgFluid">
        </div>
    </section>
    <hr>
    <section class="secRight">
        <div class="paras">
        <p class="sectionTag text-big">Dairy Products</p>
        <p class="sectionsubTag text-small">Dairy products like milk, yogurt, cheese, and cottage cheese, 
            are good sources of calcium, which helps maintain bone density and reduces the risk of fractures.
            Adults up to age 50 need 1,000 milligrams (mg) of calcium per day. Women older than 50 and men
            older than 70 need 1,200 mg. (For comparison, a cup of milk has 250 mg to 350 mg of calcium,
            depending on the brand and whether it's whole, low-fat, or nonfat. A typical serving of yogurt
            has about 187 mg of calcium.) Milk is also fortified with vitamin D, which bones need to maintain
            bone mass.
        </p>
    </div>
        <div class="thumbnail">
            <img src="img/dairy.jpg" alt="Image" class="imgFluid">
        </div>
    </section>
    <footer>
        <p class="text-footer">
            Copyright &copy; 2027 - groco.com - All rights reserved
        </p>
    </footer>
    </body>
</html>