<html>
    <head>
        <title>Products</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav class="navbar" style="background-image:url('img/bgimage.jpg');">
            <ul class="nav-list">
                <div class="logo"><img src="img/logo.jpg" alt="Logo"></div>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html" target="_blank">Product</a></li>
                <li><a href="about.html" target="_blank">About</a></li>
                <li><a href="services.html" target="_blank">Services</a></li>
                <li><a href="contact.html" target="_blank">Contact Us</a></li>
            </ul>
            <div class="rightnav">
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">Search</button>
            </div>
        </nav>

        <section class="products">
            <h1 class="text-big heading">Our <span style="color: orange;">Products</span></h1>
            <div class="product-slider">
                <div class="wrapper">
                    <div class="box">
                        <img src="img/pro2.jpeg" >
                        <h3>Fresh Cabbage</h3>
                        <div class="price">$4.99/- - $10.99/-</div>
                        </div>
                        <div class="box">
                        <img src="img/pro3.jpeg">
                        <h3>Fresh Onion</h3>
                        <div class="price">$4.99/- - $10.99/-</div>
                        </div>
                        <div class="box">
                        <img src="img/pro4.jpeg">
                        <h3>Fresh Lemon</h3>
                        <div class="price">$4.99/- - $10.99/-</div>
                        </div>
                        <div class="box">
                        <img src="img/pro5.jpeg">
                        <h3>Fresh Poteto</h3>
                        <div class="price">$4.99/- - $10.99/-</div>
                        </div>
                        <div class="box">
                        <img src="img/pro6.jpeg">
                        <h3>Fresh Orange</h3>
                        <div class="price">$4.99/- - $10.99/-</div>
                        </div>
                        <div class="box">
                        <img src="img/pro7.jpeg">
                        <h3>Fresh Avacado</h3>
                        <div class="price">$4.99/- - $10.99/-</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p class="text-footer">
                Copyright &copy; 2027 - groco.com - All rights reserved
            </p>
        </footer>
    </body>
</html>