<html>
    <head>
        <title>Services</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-list">
                <div class="logo"><img src="img/logo.jpg" alt="Logo"></div>
                <li><a href="index.html">Home</a></li>
                <li><a href="product.html"target="_blank">Products</a></li>
                <li><a href="about.html" target="_blank">About</a></li>
                <li><a href="services.html" target="_blank">Services</a></li>
                <li><a href="contact.html" target="_blank">Contact Us</a></li>
            </ul>
            <div class="rightnav v-class-resp">
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">Search</button>
            </div>
        </nav>
    
    <section class="secRight">
        <div class="paras">
        <p class="sectionTag text-big">Fresh and <span style="color: orange;">Organic</span></p>
        <p class="sectionsubTag text-small">
            While eating fresh and healthy is on everyone’s list, not everyone is able to achieve this goal 
            – and this is where Fresh and Organic Delivery comes in.
            Fresh and Organic Delivery started its journey just four months ago and
            they are already flying high in the market because of their high-quality products. As the name 
            suggests, they deliver fresh and organic gourmet and grocery products pan India.
        </p> 
            </div>
        <div class="thumbnail">
            <img src="img/bowl.png" alt="Oragnic Vegies" class="imgFluid">
        </div>
    </section>
    <hr>
    <section class="secLeft">
        <div class="paras">
        <p class="sectionTag text-big">Free Delivery</p>
        <p class="sectionsubTag text-small">Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
    </div>
        <div class="thumbnail">
            <img src="img/freee.png" alt="Image" class="imgFluid">
        </div>
    </section>
    <hr>
    <section class="secRight">
        <div class="paras">
        <p class="sectionTag text-big">Easy Payments</p>
        <p class="sectionsubTag text-small">Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
        <div class="thumbnail">
            <img src="img/easyy.png" alt="Image" class="imgFluid">
        </div>
    </section>
    <footer>
        <p class="text-footer">
            Copyright &copy; 2027 - groco.com - All rights reserved
        </p>
    </footer>
    </body>
</html>